html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    flex-direction: row;
    flex-grow: 1;
}

.main-wrapper > .content {
    min-height: 0;
    display: flex;
    flex: 1 0 auto;
}

.main-wrapper > nav {
    order: -1;
    overflow: scroll;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    position: fixed;
    z-index: 999;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}



/*.content {*/
/*    flex-grow: 1;*/
/*}*/

/*#map {*/
/*    width: 100%;*/

/*}*/